@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 145, 230, 169;
  --background-text: 2, 33, 11;
}

body {
  background: rgb(var(--background));
  color: rgb(var(--background-text))
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #578a65 #70b283;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #70b283;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #578a65;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
