@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 145, 230, 169;
  --background-text: 2, 33, 11;
}

body {
  background: rgb(var(--background));
  color: rgb(var(--background-text))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
